<!DOCTYPE html>
<html>
<head>
  <title>Rsys</title>
</head>
<p><strong>All User List</strong></p>
<body>
<p><%= link_to 'New User', new_user_path %></p>

  <table align="center">
    <thead>
    <th>Full Name</th>
    <th>Date of Birth</th>
    <th>Gender</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th></th>
    </thead>
    <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to user.full_name.capitalize, user_path(user) %>
      </td>
      <td><%= user.dob %></td>
      <td><%= user.gender %></td>
      <td><%= user.email %></td>
      <td><%= user.phone_number %></td>
      <td>
        <%= link_to 'Update', edit_user_path(user) %>
        <%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'How dare you to delete this user?' } %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
  <%= yield %>
</body>
</html>
